#settingsContainer {
    display: flex;
    justify-content: space-between;
    margin: 2vw 2vw 0 2vw;
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

.settingsIcon {
    color: #F5F5F5;
    font-size: 5vw;
}

.settingsButton {
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#settingsPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.settingsContent {
    background-color: #333;
    color: #F5F5F5;
    padding: 1.5vw 0 0 1vw;
    border-radius: 2vw;
    width: 70%;
    height: 70%;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
}

.backIcon {
    display: flex;
    align-items: center;
    color: #F5F5F5;
    font-size: 4vw;
}

.backIcon div {
    color: #F5F5F5;
    font-size: 2.5vw;
    font-style: normal; 
}

#closeButton {
    color: transparent;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

#settingsText {
    padding-left: 1vw;
}

#settingsContainer h2 {
    margin: 0 0 0 16.5vw;
    font-size: 4vw;
}

#topContainer {
    display: flex;
    align-items: center;
    height: 5vw;
}

input {
    background-color: #555;
    color: #F5F5F5;
    border: 0.2vw solid #333;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    margin: 0 0.5vw 0 0.5vw;
    padding: 1vw;
    font-size: 1.5vw;
    outline: none;
    width: 3vw;
}

.playIcon {
    color: #F5F5F5;
    font-size: 5vw;
}
#timeInput {
    display: flex;
    align-items: center;
}

#blindInputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1vw;
}

#blindInputs input {
    width: 4vw;
}

#blindsButton {
    color: #F5F5F5;
    background-color: #555;
    border: none;
    border-radius: 1vw;
    padding: 1vw;
    margin-left: 1vw;
    font-size: 16px;
    cursor: pointer;
}